{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Главная</title>
{% endblock title %}

{% block content %}
	<div class="header">
		<div class="space"></div>
		<div class="header-1">
			<div class="logo-img">
				<a href='{% url 'main' %}'><img src={% static "media/Logo_Kodland.png" %} alt="" /></a>
			</div>
			<span class="subtitle">Блог</span>
			<div class="name"></div>
			<div class="add_article">
				<a href='{% url 'post' %}'><span class="add_title">+ Добавить статью</span><a>
			</div>
		</div>
	</div>
	<div class="latest_articles">
		{% for item in last %}
			<div class="article-img">
				<img class="pic" src="media/{{ item.image }}">
			</div>
			<div class="article">
				<span class="article_title">{{ item.title }}</span>
				<div class="article_link">
					<a href="{% url 'read' %}?value={{ item.id }}"><span class="read_btn">Читать</span></a>
				</div>
				<span class="v3359_129">NEW</span>
			</div>
		{% endfor %}
	</div>
	<div class="container-2">
		<span class="last">Другие статьи</span>
		<div class="container-1">
			{% for item in latest %}
				<div class="box"
					<p><a href="{% url 'read' %}?value={{ item.id }}"><img class="pic" src="media/{{ item.image }}"></a></p>
					<p><a href="{% url 'read' %}?value={{ item.id }}"><span class="imaged_title">{{ item.title }}</span></a></p>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}
