{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Новая статья</title>
{% endblock title %}

{% block content %}
	<div class="v3362_1">
		<div class="v3359_68"></div>
		<div class="v3359_422">
			<div class="v3359_417">
				<a href='{% url 'main' %}'><img src={% static "media/Logo_Kodland.png" %} alt="" /></a>
			</div>
			<span class="v3359_78">Блог</span>
			<div class="name"></div>
			<div class="v3359_134">
				<a href='{% url 'post' %}'><span class="v3359_133">+ Добавить статью</span><a>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="post">
			<h1>Добавить статью</h1>
		</div>
		<form action="{% url 'publish' %}" enctype="multipart/form-data" class="post-data" method='post'>{% csrf_token %}
			<p><input id="post-title" type="text" size="80" name="title" placeholder="Введите название статьи">
			<button id="publish" type="submit">Опубликовать</button></p>
			<textarea id="text" rows="10" cols="45" name="content"></textarea>
				<span class="image">Загрузить изображение
				<label for="file" class="file">Файл</label>
				<p><input id="file" type="file" name="image" value="Файл"></p></span>
		</form>
	</div>
{% endblock content %}
