{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Новая статья</title>
{% endblock title %}

{% block content %}
	<div class="header">
		<div class="space"></div>
		<div class="header-1">
			<div class="logo-img">
				<a href='{% url 'main' %}'><img src={% static "media/Logo_Kodland.png" %} alt="" /></a>
			</div>
			<span class="subtitle">Блог</span>
			<div class="name"></div>
			<div class="add_article">
				<a href='{% url 'post' %}'><span class="add_title">+ Добавить статью</span><a>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="post">
			<h1>Добавить статью</h1>
		</div>
		<form action="{% url 'publish' %}" enctype="multipart/form-data" class="post-data" method='post'>{% csrf_token %}
			<p><input id="post-title" type="text" size="80" name="title" placeholder="Введите название статьи">
			<button id="publish" type="submit">Опубликовать</button></p>
			<textarea id="text" rows="10" cols="45" name="content"></textarea>
				<span class="image">Загрузить изображение
				<label for="file" class="file">Файл</label>
				<p><input id="file" type="file" name="image" value="Файл"></p></span>
		</form>
	</div>
{% endblock content %}
