{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Новая статья</title>
{% endblock title %}

{% block content %}
	<div class="header">
		<div class="space"></div>
		<div class="header-1">
			<div class="logo-img">
				<a href='{% url 'main' %}'><img src={% static "media/Logo_Kodland.png" %} alt="" /></a>
			</div>
			<span class="subtitle">Блог</span>
			<div class="name"></div>
			<div class="add_article">
				<a href='{% url 'post' %}'><span class="add_title">+ Добавить статью</span><a>
			</div>
		</div>
	</div>
	<div class="whole_page">
		<div class="page2">
		{% for item in article %}
			<div class="post">
				<h1>{{ item.title }}</h1>
				<img class="pic2" src="../media/{{ item.image }}">
			</div>
			<span class="cont">{{ item.content }}</span>
		{% endfor %}
		</div>
	</div>
{% endblock content %}